<section class="container" id="contact">
      <h2 class="heading-first">CONTACT</h2>
      <p>We would love to hear from you! Fill out the form below and we'll get back to you as
      soon as possible.</p>

      <form action="mailto:contact@the-unbranded.com" method="post" enctype="text/plain">
        <label for="name">Name</label><br><br>
        <input type="text" id="name" name="name" placeholder="John Doe" required><br><br>

        <label for="email">Email</label><br><br>
        <input type="email" id="email" name="email" placeholder="John_Doe@example.com" required><br><br>

        <label for="request">What services are you interested in?
        <br>
        <span>Our non-exhaustive list of services includes: design, development, copywriting, video editing,
        logo animation...</span></label><br><br>
        <textarea id="request" name="request" rows="4" cols="35" maxlength="6000" required></textarea><br><br>

        <label for="conumber">How many people are in your company?<br>
          <span>If this is a personal project, enter 0.</span></label><br><br>
        <input type="number" id="conumber" name="conumber"><br><br>
        <label for="details">Please share any other details about the project that you'd like to discuss.</label><br><br>
        <textarea id="details" name="details" rows="4" cols="35"></textarea>
        <br><br>
       <div class="btn-div"> <input type="submit" class="btn" value="Let's Do This!"></div>
      </form> 
      
    </section>