<section class="container" id="services">
      <div class="services">
        <h2 class="services-heading-first heading-first">SERVICES</h2>
        <p class="services-text">
          At The Unbranded, we pride ourselves on providing a variety of services.
        <br />
      </div>
     
      <div class="services">
      
        
       <h3>Website Design &amp; Development</h3>
         
            
                <p class="services-text">Clean-up/removal of dead links and bot content<br />
                Create, test, and deploy contact forms<br />
                Add search functions<br />
                Connect buttons to social media (e.g. - Facebook, Instagram, Twitter, etc.)<br />
                Mobile / browser compatibility<br />
                Create customized site add-ons and modules<br />
                Review site for user experience and accessibility</p>
            
          </div>
          <div class="services">   
        <h3>Brand Cohesion</h3>
            
                <p class="services-text">Visual brand matching<br />
                Cultivating new stock images<br />
                Matching look to stylebook</p>
            
            </div>

            <div class="services">
             <h3>Visual Design</h3>
             <p class="services-text">Logo design (desktop, social)<br />
            Full website design or redesign </p>
            </div>

            <div class="services">
            <h3>Copywriting </h3>
            <p class="services-text">B2B and B2C Website copy (About, Mission Statement, Services)<br />
            Social Media copy<br />
            Long-form blog copy<br />
            Email communications/ newsletter copy<br />
            SEO-friendly copy </p>
            </div>

            <div class="services">
            <h3>Web Hosting</h3>
            <p class="services-text">Set up and maintenance</p>
            </div>
        
      </div>
</section>


    


