<footer>
      <div id="mail" class="footer-hidden hidden">
       <p> <a class="footer-email" href="https://mailto:contact@the-unbranded.com"><i class="fas fa-envelope"></i></a></p>
      </div>
      <p><a href="/" class="home hidden"><i class="fas fa-home"></i></a></p>
</footer>