<section class="container" id="contact">
      <h2 class="heading-first">CONTACT</h2>
      <p><i class="fas fa-envelope"></i> <a href="mailto:contact@the-unbranded.com">We would love to hear from you!</a> <i class="fas fa-envelope"></i></p>
      <br />
      <p> Be sure to include your full name, what services are of interest,
      how many people are in your company, and any other relevant details about your project.</p>
<br />
      <p>We will get back to you within two business days. Thanks and we can't wait to chat!</p>
     

</section>