 .sj-info {
        width: 100%;
        /*border: 1px solid #f1e7e0;
        background-color: #f28a2e;*/ 
        margin: 3px 0px;
        
.info {
    display: none;
}
        &.expanded {
            .head .name {
                color: #f28a2e;
            }

            .head .name span {
                border-color: #000;
                color: #000;

                &.plus {
                    display: none;
                }

                &.minus {
                    display: block;
                }
            }
        }

        .head {
            .name {
                
                text-transform: uppercase;
                
                cursor: pointer;
                position: relative;

                span {
                    position: absolute;
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid #000;
                    text-align: center;
                    right: 5px;
                    top: -12px;
                    font-size: 18px;
                    line-height: 17px;
                    color: #000;
                    background-color: #f28a2e;

                    &.minus {
                        display: none;
                    }
                }
            }
        }
    }