 .sj-info {
        width: 100%;
        /*border: 1px solid #f1e7e0;
        background-color: #f28a2e;*/ 
        margin: 3px 0px;
        
        
.info {
    display: none;
}
        &.expanded {
            .head .name {
                color: #f28a2e;
            }

            .head span {
                border-color: rgb(66, 65, 65);
                color: rgb(66, 65, 65);
                //color: #f28a2e;
                font-weight: 900;
                &.plus {
                    display: none;
                }

                &.minus {
                    display: block;
                }
            }
        }

        .head {
            display: flex;
            align-items: center;
            
            .name {
                width: 100%;
                text-transform: uppercase;
                
                cursor: pointer;
                position: relative;

                
                
            }

            span {
                    
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid rgb(66, 65, 65);
                text-align: center;
                font-weight: 900;
                font-size: 18px;
                line-height: 17px;
                //color: #f28a2e;
                color: rgb(66, 65, 65);
                background-color: #f28a2e;
                margin-right: 4px;
                &.minus {
                    display: none;
                }
            }
        }
    }